@charset "UTF-8";
/* CSS Document */
/*html */
a:link {
	text-decoration: none;
	color: #3e86b7;
}
a:visited {
	text-decoration: none;
	color: #3e86b7;
}
a:hover, a:focus {
	text-decoration: none;
	color: #5cbdff;
}
a:active {
	text-decoration: none;
	color: #3e86b7;
}
/* text */
body, caption, th, td, input, textarea, select, option, legend, fieldset {
	color: #333;
}
pre, code {
}
h1 {
}
h2 {
	margin-bottom: 0;
}
h3 {
}
h4, h5, h6 {
}
p, ul, ol, dl, pre, table, fieldset {
}
p {
	line-height: 1.6em;
}
blockquote {
}
ul, ol {
}
fieldset {
	border: 1px solid #C2D3DC;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear,
.clearfix {
	clear: both;
}
hr {
    background: #add0dd;
    border: medium none;
    height: 1px;
}
blockquote {
    background: url("../images/open-quote.png") no-repeat left 20px;
    padding: 10px 40px;
}
code {
    background: #eee;
    border: 1px solid #b7cdd5;
    display: block;
    font-size: 0.8em;
    padding: 5px;
}
/* layout */
body {
	background: #eee;
}
#page-wrapper, .region-bottom {
	width: auto;
}
#logo {
	margin: 10px 10px 10px 0;
	padding: 0;
}
#site-slogan {
	color: #888;
}
#name-and-slogan {
	float: left;
	padding: 10px 0 0;
}
h1#site-name, div#site-name {
	font-size: 1.8em;
	line-height: 1.3em;
	margin: 0;
}
#site-name a:link, #site-name a:visited {
	color: #ccc;
	font-weight: 100;
}
#site-name a:hover, #site-name a:focus {
	color: #5cbdff;
	text-decoration: none;
}
h1#site-name, div#site-name {
}
#header {
	background: #000 url(../images/bg-layout.png) no-repeat center -380px;
}
#header .section {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
}
.region-header {
	clear: none;
}
#navigation {
	background: #000 url(../images/bg-layout.png) no-repeat center -500px;
	margin: 0;
	float: none;
}
#navigation .section {
	width: 960px;
	margin: 0 auto;
}
.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
	margin-top: 1em; 
}
#main-wrapper {
	background: #e8edf0;
}
#main-wrapper #main {
	width: 960px;
	margin: 0 auto;
	padding: 0 0 30px;
}
.two-sidebars #content {
  width: 440px;
  margin-left: 200px; /* LTR */ /* The width of .region-sidebar-first */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}
.sidebar-second #content {
	width: 640px;
	margin-right: -640px;
}
.region-sidebar-second {
	width: 320px;
	margin-left: 640px;
	margin-right: -960px;
}
.node .content {
	margin: 10px 0 20px;
}
#footer {
	background: #000 url(../images/bg-layout.png) no-repeat center -1000px;
	padding: 20px 0 10px;
	color: #ccc;
	font-size: .8em;
}
#footer a{
	color: #ccc;
}
#footer a:hover, 
#footer a:focus {
    color: #5cbdff;
}
#footer .section {
	width: 960px;
	margin: 0 auto;
}
#credits {
	background: #000 url(../images/bg-layout.png) no-repeat center -1000px;
	padding: 5px 0;
	color: #999;
	font-size: .7em;
}
#credits .section {
	width: 960px;
	margin: 0 auto;
}
#credits a{
	color: #999;
}
#credits a:hover, 
#credits a:focus {
    color: #5cbdff;
}
/* List of links */
#main-menu a{
	color: #fff;
	padding: 0 10px;
	line-height: 30px;
	display: block;
}
#main-menu a:hover{
	background: #3e86b7 url(../images/overlay.png) repeat-x;;
}
/* navigation */
li a.active {
    color: #3e86b7;
}

li a.active:hover {
	color: #5cbdff;
}
/* node */
div.node .meta {
	margin: 0 0 20px;
	color: #999;
	font-size: .8em;
}
/* table */
tr.even {
	background: #dfe7eb;
}
tr.odd {
	background: #e8edf0;
}
table.sticky-table {
	width: 100%;
}
table.sticky-table th {
	background: #ccc;
	padding: 2px 10px;
}
table.sticky-table td {
	padding: 2px 10px;
}
/* form */
input, textarea {
    border: 1px solid #D6D6D6;
    padding: 5px;
   	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff url(../images/overlay.png) -2000px 0 no-repeat;
}
input {
	font-size: 1em;
}
textarea {
	font-size: 1em;
}
input[type="submit"] {
	background: #333 url(../images/overlay.png) no-repeat;
	display: inline-block;
	border: none;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer
}
form thead th {
	border-bottom: 2px solid #C2D3DC;
}
tr.odd .form-item, 
tr.even .form-item {
	white-space: normal; 
}
html.js input.form-autocomplete {
    background-position: 99% 8px;
}
html.js input.throbbing {
    background-position: 99% -13px;
}
/* text */
h1.title, 
h2.node-title, 
h2.block-title, 
h2.title, 
h2.comment-form, 
h3.title {
}
h1#page-title {
}
h1.title { 
	margin: 10px 0 0;
	font-weight: 300;
}
p.highlight {
	font-size: 2.2em;
	font-weight: 300;
	padding: 20px 40px;
}
.terms, .terms a{
	color: #999;
}
.terms a:hover{
	color: #5cbdff;
}
/* comments */
#comments {
	border-top: 1px dashed #add0dd;
}
#comments h2.title{
	background: #dfe7eb;
	padding: 10px;
	font-weight: 300;
}
#comments .comment {
	border-top: 1px solid #eee;
	padding: 10px 0;
}
#comments .box {
	margin: 20px 0 0;
}
#comments .box h2{
	border-top: 1px solid #add0dd;
	background: #dfe7eb;
	padding: 10px;
	font-weight: 300;
}
/* block */
.sidebar .block {
}
.block h2.title {
}
#block-block-10 {
	position: absolute;
	right: 0;
}
/* view */
table.views-view-grid td {
	vertical-align: top;
	text-align: center;
}
table.views-table, table.package {
    border: 1px solid #d4e1e6;
    border-collapse: separate;
    margin: 5px 0;
    padding: 0;
    width: 100%;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
table.views-table th, table.views-table td {
    padding-left: 5px;
}
table.views-table thead {
    background: #c2d3dc;
    color: #333;
    padding: 5px;
}
table.views-table td.container {
    background: none repeat scroll 0 0 #DEDEDE;
    color: #333333;
    padding: 5px;
}
table.views-table td.container a {
    font-size: 1.3em;
    font-weight: bold;
}
table.views-table td.container .description {
    margin-bottom: 0;
}
/* field */
.node-type-blog .node .picture, 
.section-blog .node .picture, 
.page-blog .node .picture {
    float: right;
    margin: 5px;
}
.node-type-blog .node .picture img, 
.section-blog .node .picture img, 
.page-blog .node .picture img {
    border: 1px solid #fff;
    padding: 2px;
}
.views-field-field-preview-fid a img {
	border: 1px solid #fff;
}
.views-field-field-preview-fid a:hover img {
	border: 1px solid #5cbdff;
}
table#field_image_values {
	width: 100%;
}
/* panel */
#panel-front .panels-flexible-row-3-1 {
	border-top: 1px dashed #666;
	margin:  20px 0 0;
	padding: 20px 0 0;
}
/* pager */
.item-list ul.pager {
	padding: 0;
}
/* book-navigation */
.book-navigation a.page-up {
	white-space: nowrap;
}
/* calendar */
.calendar-calendar .week a {
	color: #ddd;
}
.calendar-calendar div.calendar {
	margin: 0 0.25em 0.5em 0;
}
.calendar-calendar td .inner div.calendar div {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #f1f1a0;
}
div#calpopup {
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 50%;
}
.section-date .node .picture {
	float: right;
	margin:5px;
}
.section-date .node .picture img {
	border:1px solid #CCCCCC;
	padding:2px;
}
/* advanced_forum */
#forum table, #forum-statistics {
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
th.forum-header {
	background: #CCC url(images/bg-h.png) 0 -100px repeat-x;
	color: #FFF;
}
.forum-post {
	border: 2px solid #ccc;
}
.forum-post-footer {
	border-top: 1px solid #ccc;
}
.post-info {
	border-bottom:1px solid #ccc;
	color: #666;
}
.forum-post-panel-sub {
	float: left;
	line-height: 100%;
	width: 100px;
	font-size: .8em;
}
.forum-post-panel-sub .author-pane {
}
.author-pane-name-status .picture {
}
.author-pane .picture img {
	padding: 2px;
}
.forum-post-panel-main {
	margin-left: 100px;
	border-left: 1px solid #ccc;
	min-height:inherit;
}
.forum-jump-links {
	width: 90px;
	border-right: 1px solid #ccc;
}
.forum-post-links {
	margin-left: 100px;
	text-align: left;
}
/* module */
.fb-social-like-widget {
	display: inline;
}
.resizable-textarea {
	width: 98%;
}
/* specific node */
body.page-content-image-viewer {
}
body.page-content-image-viewer #page, body.page-content-image-viewer #closure-blocks {
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
}
body.page-content-image-viewer .sidebar-right #content {
	width: auto;
	margin: 0;
}
body.page-content-image-viewer #main {
	background: #fff;
	border: none;
}
/* CSS3 Buttons */
.button, .button:visited {
	background: #222 url(../images/overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	-khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer
}
.button:link {
	color: #fff;
}
.button:hover {
	background-color: #111;
	color: #fff;
}
.button:active {
	top: 1px;
}
.small.button, .small.button:visited {
	font-size: 11px
}
.button, .button:visited,  .medium.button, .medium.button:visited {
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.large.button, .large.button:visited {
	font-size: 14px;
	padding: 8px 14px 9px;
}
.super.button, .super.button:visited {
	font-size: 34px;
	padding: 8px 14px 9px;
}
.pink.button, .magenta.button:visited {
	background-color: #e22092;
}
.pink.button:hover {
	background-color: #c81e82;
}
.green.button, .green.button:visited {
	background-color: #91bd09;
}
.green.button:hover {
	background-color: #749a02;
}
.red.button, .red.button:visited {
	background-color: #e62727;
}
.red.button:hover {
	background-color: #cf2525;
}
.orange.button, .orange.button:visited {
	background-color: #ff5c00;
}
.orange.button:hover {
	background-color: #d45500;
}
.blue.button, .blue.button:visited {
	background-color: #2981e4;
}
.blue.button:hover {
	background-color: #2575cf;
}
.yellow.button, .yellow.button:visited {
	background-color: #ffb515;
}
.yellow.button:hover {
	background-color: #fc9200;
}
/* style */
table.style1 {
    border: 1px solid #d4e1e6;
    border-collapse: collapse;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    width: 100%;
}
table.style1 th {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    padding: 5px 10px;
}
table.style1 td {
    border: 1px solid #EEEEEE;
    padding: 5px 10px;
}
table.style1 td.title {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
/* node front */

/* display none */
.element-invisible {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
body.page-content-image-viewer .with-navbar #sidebar-right, 
body.page-content-image-viewer .addtoany,
body.front h1.title {
	display: none;
}